*{
    margin: 0;
    padding: 0;
}

.noteBox{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    white-space: pre-wrap;
}







textarea{
    resize: none;
    border: none;

}
textarea:focus{
    outline: none; 
}