*{
    margin: 0;
    padding: 0;
}

.noteList{
    height: auto;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;

}
.noteBox{
    height: 250px;
    width: min(400px,100%);
    border: 2px solid red;
    white-space: pre-wrap;
    border-radius: 20px;
    padding: 10px;
margin: 10px;
background-color: rgb(162, 107, 203);

}







textarea{
    resize: none;
    border: none;

}
textarea:focus{
    outline: none; 
}